# ESP32 general

CONFIG_ESP32_REV_MIN_0=y
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y

# IPM extra config
#CONFIG_ESP_CONSOLE_NONE=y

# log no gprs
CONFIG_ESP_CONSOLE_UART_CUSTOM=y
CONFIG_ESP_CONSOLE_UART_TX_GPIO=21
CONFIG_ESP_CONSOLE_UART_RX_GPIO=13

